<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fab - Аккаунт</title>
    <link rel="stylesheet" href="../static/fabsmart.css">
</head>

<body>
    <div class="page">
        <header>
            <div class="header1"><img class="logo" src="../static/fabsmartlogo.png" height="120" draggable="false" alt="fabsmart">
            </div>
            <ul class="navi">
                <li><a href="/">Фаб</a></li>
                <li><a href="/offers">Предложения</a></li>
                <li><a class="active" href="/account">Аккаунт</a></li>
            </ul>
            <br>
        </header>
        <main>
            <div class="centerblockuseracc">
                <h2 class="regtitle">Аккаунт</h2>
                <a href="/login">Выйти</a>
            </div>
        </main>
        <footer>
            &copy; 2023 fabsmartproject
            <br>ATLAS TEAM
            <br>v0.2.6.1
        </footer>
    </div>
</body>

</html>