<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fab - Вход</title>
    <link rel="stylesheet" href="../static/fabsmart.css">
</head>

<body>
    <div class="page">
        <header>
            <div class="header1"><img class="logo" src="../static/fabsmartlogo.png" height="120" draggable="false" alt="fabsmart">
            </div>
            <nav>
                <ul class="navi">
                    <li><a href="/">Фаб</a></li>
                    <li><a href="/offers">Предложения</a></li>
                    <li><a class="active" href="/reg">Аккаунт</a></li>
                </ul>
            </nav>
            <br>
        </header>
        <main>
            <div class="centerblock">
                <div class="loginform">
                    <h2 class="regtitle">Вход</h2>
                    <form action="registration" method="post">
                            <label for="login"><input type="text" id="accquery1" placeholder="Введите ник" class="inputarea"></label><br>
                            <label for="password"><input type="password" id="accquery2" placeholder="Введите пароль" class="inputarea"></label><br>
                            <a href="/reg">Регистрация</a><br>
                            <button type="submit"><img src="../static/submitbutton.png" width="55" draggable="false"
                                    alt="submit"></button>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            &copy; 2023 fabsmartproject
            <br>ATLAS TEAM
            <br>v0.2.6.1
        </footer>
    </div>
</body>

</html>