<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fab - Предложения</title>
    <link rel="stylesheet" href="../static/fabsmart.css">
</head>

<body>
    <div class="page">
        <header>
            <div class="header1"><img class="logo" src="../static/fabsmartlogo.png" height="120" draggable="false" alt="fabsmart">
            </div>
            <nav>
                <ul class="navi">
                    <li><a href="/">Фаб</a></li>
                    <li><a class="active" href="/offers">Предложения</a></li>
                    <li><a href="/reg">Аккаунт</a></li>
                </ul>
            </nav>
            <br>
        </header>
        <main>
            <div class="centerblock">
                <div class="block">
                    <img src="../static/locked.png" width="105" draggable="false" alt="unavailable"><br>
                    <span class="regtitle">Страница на тех. обслуживании</span><br><br>
                </div>
            </div>
        </main>
        <footer>
            &copy; 2023 fabsmartproject
            <br>ATLAS TEAM
            <br>v0.2.6.1
        </footer>
    </div>
</body>

</html>